
@{
    DebitControl.Models.DebitControlEntities entities = new DebitControl.Models.DebitControlEntities();

    ViewBag.Title = "Bilgisayar Lisans Ekle";

    var employee = entities.GetActiveComputers().ToList();
    employee.Sort((emp1, emp2) => emp1.computerNumber.CompareTo(emp2.computerNumber));

    var computer = entities.GetAllLicenceRecords().ToList();
    computer.Sort((emp1, emp2) => emp1.licenceMail.CompareTo(emp2.licenceMail));
    computer.Reverse();
}

<button type="submit" onclick="window.location.href = 'ActiveDebitLicenceList';" class="btn btn-warning float-right">Geri Dön</button>

<div class="row">

    <form method="post" action="/Home/CreateDebitLicence">


        <div class="form-group">
            <label for="computerId">Bilgisayar:</label>
            <select class="form-control" name="computerId" id="computerId">
                @foreach (var employeeItem in employee)
                {
                    <option value="@employeeItem.computerId">@employeeItem.computerNumber</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="licenceId">Lisans:</label>
            <select class="form-control" name="licenceId" id="licenceId">
                @foreach (var computerItem in computer)
                {
                    <option value="@computerItem.licenceId">@computerItem.licenceMail</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>

</div>
